apiVersion: v1
kind: Service
metadata:
  name: react-service
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
  selector:
    app: reactapp
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app-pod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      containers:
      - name: react-container
        image: 233274203099.dkr.ecr.ap-south-1.amazonaws.com/reactapp:49d27553b4a3ee1f93e1aef8f16b50bdd3a8ad07
        ports:
        - containerPort: 3000  
